#div2{
    display: inline-block;
    position: absolute;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    right: 0;
    top: 50px;
}